# Path to your oh-my-zsh installation.
{{- if eq .chezmoi.os "darwin" }}
export ZSH="/Users/rnixon/.oh-my-zsh"
{{- else }}
export ZSH="/home/rnixon/.oh-my-zsh"
{{- end }}

# Set name of the theme to load --- if set to "random", it will
# load a random theme each time oh-my-zsh is loaded, in which case,
# to know which specific one was loaded, run: echo $RANDOM_THEME
# See https://github.com/ohmyzsh/ohmyzsh/wiki/Themes
ZSH_THEME="gallifrey"

# Disable automatic updates, managed by chezmoi
DISABLE_AUTO_UPDATE="true"
zstyle ':omz:update' mode disabled

# Which plugins would you like to load?
# Standard plugins can be found in $ZSH/plugins/
# Custom plugins may be added to $ZSH_CUSTOM/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=(git zsh-syntax-highlighting)

source $ZSH/oh-my-zsh.sh

# Mise
eval "$(mise activate zsh)"

# User configuration

{{- if ne .chezmoi.os "darwin" }}
export PATH=${PATH}:${HOME}/bin
{{- end }}

export GPG_TTY=`tty`

# Go
export GOPATH=${HOME}/go
{{- if ne .chezmoi.os "darwin" }}
export GOROOT=${HOME}/bin/golang
export PATH=${PATH}:${GOROOT}/bin:${GOPATH}/bin
{{- else }}
export PATH=${PATH}:${GOPATH}/bin
{{- end }}

# All the tokens
export GITHUB_TOKEN="$(mise exec -- gh auth token)"
export HCP_CLIENT_ID=$(mise exec -- vlt secrets get --plaintext "HCP_CLIENT_ID")
export HCP_CLIENT_SECRET=$(mise exec -- vlt secrets get --plaintext "HCP_CLIENT_SECRET")
export HCP_ORGANIZATION_ID=$(mise exec -- vlt secrets get --plaintext "HCP_ORGANIZATION_ID")
