[user]
	name = Ryan Nixon
	email = {{ .email }}
	signingkey = ~/.ssh/id_rsa.pub
[url "git@github.com:"]
	insteadOf = https://github.com/
[commit]
  gpgsign = true
[pull]
	rebase = false
{{- if eq .chezmoi.os "darwin" }}
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[gpg]
	format = ssh
[core]
	editor = code --wait
{{- end }}
[init]
	defaultBranch = main
