# Path to your oh-my-zsh installation.
{{- if eq .chezmoi.os "darwin" }}
export ZSH="/Users/rnixon/.oh-my-zsh"
{{- else }}
export ZSH="/home/rnixon/.oh-my-zsh"
{{- end }}

# Set name of the theme to load --- if set to "random", it will
# load a random theme each time oh-my-zsh is loaded, in which case,
# to know which specific one was loaded, run: echo $RANDOM_THEME
# See https://github.com/ohmyzsh/ohmyzsh/wiki/Themes
ZSH_THEME="powerlevel10k/powerlevel10k"

# Disable automatic updates, managed by chezmoi
DISABLE_AUTO_UPDATE="true"
zstyle ':omz:update' mode disabled

# Which plugins would you like to load?
# Standard plugins can be found in $ZSH/plugins/
# Custom plugins may be added to $ZSH_CUSTOM/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=(git asdf zsh-syntax-highlighting)

source $ZSH/oh-my-zsh.sh

# User configuration

{{- if ne .chezmoi.os "darwin" }}
export PATH=${PATH}:${HOME}/bin
{{- end }}
export EDITOR='nano'
export GPG_TTY=`tty`
export VAULT_ADDR=https://rnd.vault.0846e66f-a975-4a88-9e46-6dc6267e9b73.aws.hashicorp.cloud:8200
export BOUNDARY_ADDR=https://b034f9c1-8fad-458a-80f3-fc0b1866531c.boundary.hashicorp.cloud
{{- if eq .chezmoi.os "darwin" }}
export NOMAD_ADDR=http://nomad.taiidani.com:4646
{{- end }}
export VAULT_NAMESPACE=admin

# Go
export GOPATH=${HOME}/go
{{- if ne .chezmoi.os "darwin" }}
export GOROOT=${HOME}/bin/golang
export PATH=${PATH}:${GOROOT}/bin:${GOPATH}/bin
{{- else }}
export PATH=${PATH}:${GOPATH}/bin
{{- end }}

# All the tokens
export GITHUB_TOKEN="{{ (vault "credentials/dotfiles").data.data.GITHUB_TOKEN }}"

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
