# Path to your Oh My Zsh installation.
export ZSH="$HOME/.oh-my-zsh"

# Set name of the theme to load
# See https://github.com/ohmyzsh/ohmyzsh/wiki/Themes
ZSH_THEME="robbyrussell"

# Uncomment one of the following lines to change the auto-update behavior
# zstyle ':omz:update' mode disabled  # disable automatic updates
# zstyle ':omz:update' mode auto      # update automatically without asking
# zstyle ':omz:update' mode reminder  # just remind me to update when it's time

# Uncomment the following line to change how often to auto-update (in days).
# zstyle ':omz:update' frequency 13

plugins=(git)

source $ZSH/oh-my-zsh.sh
{{- if eq .chezmoi.os "darwin" }}
source $(brew --prefix)/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
source $(brew --prefix)/share/zsh-autosuggestions/zsh-autosuggestions.zsh
{{- end }}

# Mise
eval "$(mise activate zsh)"

# All the tokens
export GITHUB_TOKEN=$(mise exec -- gh auth token)
export HCP_CLIENT_ID=$(mise exec -- vlt secrets get --plaintext "HCP_CLIENT_ID")
export HCP_CLIENT_SECRET=$(mise exec -- vlt secrets get --plaintext "HCP_CLIENT_SECRET")
export HCP_ORGANIZATION_ID=$(mise exec -- vlt secrets get --plaintext "HCP_ORGANIZATION_ID")
