[user]
	name = Ryan Nixon
	email = {{ .email }}
	signingkey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICPFsY0bYBm+O5P7dQCRNJGuQhrVEM1YEL9RVfcVfh2Z rnixon@hashicorp.com"
[url "git@github.com:"]
	insteadOf = https://github.com/
[commit]
  gpgsign = true
[pull]
	rebase = false
[gpg]
	format = ssh
[core]
	editor = code --wait
[init]
	defaultBranch = main
[credential "https://dev.azure.com"]
       useHttpPath = true
{{- if eq .chezmoi.os "darwin" }}
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[credential]
       helper =
       helper = /usr/local/share/gcm-core/git-credential-manager
{{- end }}
