# Full configuration options can be found at https://www.nomadproject.io/docs/configuration

data_dir = "/opt/nomad/data"
bind_addr = "0.0.0.0"

server {
  enabled = true
  bootstrap_expect = 2
}

client {
  enabled = true
  servers = ["127.0.0.1:4646"]

  options {
    "docker.volumes.enabled" = "true"
  }
}

vault {
  enabled = true
  address = "https://rnd.vault.0846e66f-a975-4a88-9e46-6dc6267e9b73.aws.hashicorp.cloud:8200"
  namespace = "admin"
  token = "{{ (vault "credentials/dotfiles").data.data.NOMAD_SERVER_VAULT_TOKEN }}"
  create_from_role = "nomad-cluster"
}

consul {
  token = "{{ (vault "credentials/dotfiles").data.data.NOMAD_SERVER_CONSUL_TOKEN }}"
}

plugin "docker" {
  volumes {
    enabled = true
  }
}

acl {
  enabled = true
}
