#! /bin/bash

set -e

if [[ -f $HOME/.dotfiles/sh_provision ]] && [[ -f $HOME/.dotfiles/sh_hashistack_install ]]; then
    bash $HOME/.dotfiles/sh_provision
    bash $HOME/.dotfiles/sh_hashistack_install
else
    echo "Files not provisioned yet. Please rerun."
fi
