#! /bin/bash

set -e

TEMP_DIRECTORY=$(mktemp -d)
trap "rm -Rf $TEMP_DIRECTORY" EXIT

# Install Hashicorp Tooling
if ! which nomad &> /dev/null; then
    echo "❌ Hashicorp tooling not installed. Installing..."
    {{- if eq .chezmoi.os "darwin" }}
    brew install nomad terraform vault consul packer
    {{- else }}
    curl -fsSL https://apt.releases.hashicorp.com/gpg | sudo apt-key add -
    sudo apt-add-repository "deb [arch={{ .chezmoi.arch }}] https://apt.releases.hashicorp.com $(lsb_release -cs) main"
    sudo apt-get update && sudo apt-get install nomad terraform vault-enterprise consul-enterprise packer
    {{- end }}

    echo "✅ Hashicorp tooling installed"
else
    echo "✅ Hashicorp tooling installed"
fi

{{- if ne .chezmoi.os "darwin" }}
# Install CNI Plugins
# Required for Nomad to use Consul Connect
if [[ ! -d /opt/cni/bin ]]; then
    echo "❌ CNI Plugins not installed. Installing..."

    curl -L -o ${TEMP_DIRECTORY}/cni-plugins.tgz "https://github.com/containernetworking/plugins/releases/download/v1.0.0/cni-plugins-linux-{{ .chezmoi.arch }}"-v1.0.0.tgz
    sudo mkdir -p /opt/cni/bin
    sudo tar -C /opt/cni/bin -xzf ${TEMP_DIRECTORY}/cni-plugins.tgz
    echo "✅ CNI Plugins installed"
else
    echo "✅ CNI Plugins installed"
fi

# Install Tool Configurations
if [[ -d /etc/nomad.d ]] && [[ -f $HOME/.dotfiles/nomad.hcl ]]; then
    echo "Symlinking nomad configuration..."
    sudo ln -sf ${HOME}/.dotfiles/nomad.hcl /etc/nomad.d/nomad.hcl
fi
if [[ -d /etc/consul.d ]] && [[ -f $HOME/.dotfiles/consul.hcl ]]; then
    echo "Installing consul configuration..."
    sudo rm -f /etc/consul.d/consul.hcl
    sudo cp -f ${HOME}/.dotfiles/consul.hcl /etc/consul.d/consul.hcl
    sudo chown consul:consul /etc/consul.d/consul.hcl

    sudo rm -f /etc/consul.d/client_acl.json
    sudo cp -f ${HOME}/.dotfiles/consul_acl.json /etc/consul.d/client_acl.json
    sudo chown consul:consul /etc/consul.d/client_acl.json

    sudo rm -f /etc/consul.d/consul_ca.pem
    sudo cp -f ${HOME}/.dotfiles/consul_ca.pem /etc/consul.d/ca.pem
    sudo chown consul:consul /etc/consul.d/ca.pem
    echo "✅ Consul configuration installed."
fi
{{- end }}
