#! /bin/bash

set -e

TEMP_DIRECTORY=$(mktemp -d)
trap "rm -Rf $TEMP_DIRECTORY" EXIT

# Install ZSH
if ! which zsh &> /dev/null; then
    echo "❌ ZSH not installed. Installing..."
    sudo apt-get install zsh

    echo "YOU NEED TO LOG OUT TO CHANGE YOUR DEFAULT SHELL!"
    echo "Run this again after logging in."
    exit
elif [[ "$SHELL" != "/usr/bin/zsh" ]]; then
    echo "❌ Your current shell is not ZSH. Please ensure that you are in a zsh shell before continuing."
    exit
else
    echo "✅ ZSH installed"
fi

# Install Docker
if ! which docker &> /dev/null; then
    echo "❌ Docker not installed. Installing..."

    curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
    sudo apt-add-repository "deb [arch={{ .chezmoi.arch }}] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
    sudo apt-get update && sudo apt-get install docker-ce docker-ce-cli containerd.io
    sudo usermod -aG docker $USER
    sudo docker plugin install grafana/loki-docker-driver:latest --alias loki --grant-all-permissions
    echo "✅ Docker installed. You will need to log out and log back in before you can run 'docker' without sudo"
else
    echo "✅ Docker installed"
fi
